# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
multi/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database
*.sqlite3

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Build files
build/
dist/
*.egg-info/

# Migrations cache
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Redis dump
dump.rdb